*{
  /*border: 1px solid black;*/
}
header{
  height: 350px;
  background-color: #90ee90;
}
.fix-width{
  max-width: 100%
}

#avatar{
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 5px;
  background-color: white;
  margin-top: -78px;
  width: 150px;
  height: 150px;
}
